@page "/login"
@layout HeadlessLayout
@inherits LoginPage
<PageTitle>PocketMate - Login</PageTitle>

<MudGrid Justify="Justify.Center">
    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center pb-8 pt-8">
                <img src="images/wallet.png" width="150" alt="PocketMate"  />
            </div>
            <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
                <DataAnnotationsValidator />

                <MudTextField class="mt-8" T="string" Label="E-Mail" HelperText="Required field"
                              Required="true" InputType="InputType.Email"
                              For="@(()=>InputModel.Email)" @bind-Value="InputModel.Email" />

                <MudTextField class="mt-8" T="string" Label="Password" HelperText="Required field"
                              Required="true" InputType="InputType.Password"
                              For="@(()=>InputModel.Password)" @bind-Value="InputModel.Password" />

                <div class="d-flex mt-8">
                    @if (IsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Indeterminate="true" />
                    }
                    else
                    {
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">Login</MudButton>
                        <MudSpacer />
                        <MudButton Variant="Variant.Outlined" Color="Color.Primary" Href="/login">Create account</MudButton>
                    }
                </div>
            </EditForm>

        </MudPaper>
    </MudItem>
</MudGrid>

