@page "/categories"
@inherits ListCategoriesPage

<MudPopoverProvider />
<MudText Typo="Typo.h3">Categories</MudText>

<div class="d-flex justify-end">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/categories/add" StartIcon="@Icons.Material.Sharp.Add">Add category</MudButton>
</div>

<MudDataGrid Items="@CategoriesList" Class="mt-4">
    <Columns>
        <PropertyColumn Property="x => x.Id" Title="#" />
        <PropertyColumn Property="x => x.Title" Title="Title" />
    </Columns>
</MudDataGrid>